
#email-icon {
  height: 18px;
  width: 18px;
  display: flex;
  align-self: center;
  margin-right: 5px;
  fill: #C6FF00;
}


.contact-by-email-container a {
  display: flex;
  align-items: end;
  text-transform: lowercase;
  font-size: 14px;
  color: #ABABAB;
  text-decoration: none;
  margin-left: 10px;
}
