.projects-container {
  width: 100vw;
  height: 100%;
}

.projects-title {
  font-family: 'Ostrich-Sans';
  font-style: italic;
  font-size: 280px;
  line-height: 50%;
  margin: 0 15px;
  text-align: start;
  color: #C6FF00;
}

/* .projects-content-container {
  display: flex;
  flex-direction: column;
  margin-top: 25%;
} */

.projects-svg-container {
  opacity: 0.4;
  width: 1000px;
  position: fixed;
  right: -200px;
  top: 0px;
  z-index: -1;
}

.projects-svg-container svg {
  width: 1000px;
}

/* --------------------------------------------- */

#carousel {
  position: relative;
  width: 100%;
  height: 400px;
  top: 50%;
  bottom: 0;
  transform: translateY(40%);
  overflow: hidden;
}

#carousel div {
  position: absolute;
  transition: transform 1s, left 1s, opacity 1s, z-index 0s;
  opacity: 1;
}

#carousel img {
  width: 400px;
  transition: width 1s;
}

#carousel .hideLeft {
  left: 0%;
  opacity: 0;
  transform: translateY(50%) translateX(-50%);

  img {
    width: 200px;
  }
}

#carousel .hideRight {
  left: 100%;
  opacity: 0;
  transform: translateY(50%) translateX(-50%);

  img {
    width: 200px;

  }
}

#carousel .prev {
  z-index: 5;
  left: 30%;
  transform: translateY(50px) translateX(-50%);

  img {
    width: 300px;
  }
}

#carousel .prev {
  z-index: 5;
  left: 30%;
  transform: translateY(50px) translateX(-50%);

  img {
    width: 300px;
  }
}


#carousel .prevLeftSecond {
  z-index: 4;
  left: 15%;
  transform: translateY(50%) translateX(-50%);
  opacity: 0.7;

  img {
    width: 200px;
  }
}

#carousel .selected {
  z-index: 10;
  left: 50%;
  transform: translateY(0px) translateX(-50%);
}

#carousel .next {
  z-index: 5;
  left: 70%;
  transform: translateY(50px) translateX(-50%);

  img {
    width: 300px;
  }
}

#carousel .nextRightSecond {
  z-index: 4;
  left: 85%;
  transform: translateY(50%) translateX(-50%);
  opacity: 0.7;

  img {
    width: 200px;
  }
}

.buttons {
  position: relative;
  /* width: 100vw; */
  /* height: 50vh; */
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
  padding: 0 20px;
  /* left: 50%; */
  /* transform: translateX(-50%); */
  /* bottom: 50px; */
  /* transform: translateY(-50%); */
  background-color: transparent;
  border: none;
  top: -50px;
}
