header {
  display: flex;
  max-width: 2560px;
  width: 100%;
  margin: 0 auto;
  z-index: 1;
  position: sticky;
  top: 0px;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: calc(100vw - 30px);
  margin: 0 auto;
  height: 100%;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 20px;
  list-style: none;
  margin: 0 10px;
  padding: 0;
}

.logo-img {
  width: 40px;
  padding: 2px;
}

.logo-img:hover {
  cursor: pointer;
}

.links {
  text-decoration: none;
  display: block;
  font-size: 18px;
  color: #ABABAB;
  font-family: 'Neue';
  font-style: italic;
  text-transform: uppercase;
}

.links:hover {
  position: relative;
  animation: flicker 1.5s infinite alternate;
}

@keyframes flicker {

  0%, 18%, 22%, 25%, 53%, 57%, 100% {
    text-shadow: 0 0 2px #C6FF00,
                 0 0 4px #FFFFFF,
                 0 0 20px #C6FF00;
    color: #FFFFFF;
  }

  20%, 24%, 55% {
    text-shadow: none;
    color: #ABABAB;
  }
}

.links:hover::after {
  content: '';
  display: block;
  position: absolute;
  bottom: -5px;
  width: 75%;
  height: 1.5px;
  border: 1.5px solid #C6FF00;
  border-radius: 2px;
  box-shadow: 1px 1px 14px #C6FF00;
  animation: widthFadeIn .5s linear;
}

.link-active {
  color: #FFFFFF;
  text-shadow: 1px 1px 0 #000000,
               2px 2px 0 #C6FF00;
}



@keyframes widthFadeIn {
  0% {
    width: 0;
  }
  100% {
    width: 75%;
  }
}
