
.contact-container {
  width: 100vw;
  height: 100%;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.contact-title-container {
  margin-top: 10%;
  z-index: 1;
}

.contact-title {
  display: block;
  font-family: 'Ostrich-Sans';
  font-style: italic;
  font-size: 240px;
  margin: 0;
  line-height: 90px;
  margin-left: 10px;
  cursor: default;
  color: #ABABAB;
}

.title-top {
  font-family: 'Neue';
  font-size: 100px;
  color: #C6FF00;
  font-style: italic;
  margin-left: 20px;
}

/* .contact-title-highlight {
  color: #C6FF00;
} */

.contact-subtitle {
  font-family: 'Ostrich-Sans';
  font-weight: 100;
  color: #FFFFFF;
  font-size: 30px;
  margin: 20px;
  margin-top: 120px;
  cursor: default;
  letter-spacing: 2px;
}

.contact-subtitle-highlight {
  font-family: 'Ostrich-Sans';
  font-weight: 600;
  color: #CCCCCC;
}

.contact-subtitle-email {
  font-family: 'Ostrich-Sans';
  font-weight: 100;
  color: #FFFFFF;
  font-size: 30px;
  margin: 10px 20px;
}

.contact-by-email {
  font-family: 'Ostrich-Sans';
  display: flex;
  align-content: bottom;
  /* font-weight: 600; */
  /* text-decoration: none; */
  /* color: #c3c3c3; */
  /* text-shadow: 1px 1px 0 #000000; */
  /* letter-spacing: 3px; */
  /* border: 1px solid #C6FF00; */
}

.contact-svg-container {
  opacity: 0.4;
  width: 1000px;
  position: fixed;
  right: -200px;
  top: -150px;
}

.contact-svg-container svg polygon {
  stroke: #838383;
}
