.about-container {
  width: 100vw;
  height: 100%;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr;
}

.about-title-container {
  z-index: -1;
}

.about-title {
  font-family: 'Ostrich-Sans';
  font-style: italic;
  font-size: 240px;
  line-height: 80%;
  margin: 0 15px;
  text-align: start;
  color: #C6FF00;
}

.about-svg-container {
  position: fixed;
  left: -10px;
  top: -800px;
  opacity: 0.9;
  z-index: -1;
}

.about-svg-container svg {
  width: 750px;
  transform: scaleX(-1);
}

.about-text-container {
  z-index: 1;
}

#bio {
	position: absolute;
  width: 100%;
	height: 300%;
	bottom: 15px;
  right: -3%;
  font-family: 'Ostrich-Sans';
	font-size: 60px;
	/* text-align: justify; */
  overflow: scroll;
	-webkit-transform-origin: 65% 100%;
	-moz-transform-origin: 65% 100%;
	-ms-transform-origin: 65% 100%;
	-o-transform-origin: 65% 100%;
	transform-origin: 65% 100%;
	-webkit-transform: perspective(350px) rotateX(15deg);
	-moz-transform: perspective(350px) rotateX(15deg);
	-ms-transform: perspective(350px) rotateX(15deg);
	-o-transform: perspective(350px) rotateX(15deg);
	transform: perspective(350px) rotateX(15deg);
  z-index: 1;
  color: #ABABAB;
  text-shadow: 2px 2px 0 black;
  letter-spacing: 3px;
}

#bio:after
{
	position: absolute;
	content: ' ';
	left: 0;
	right: 0;
	top: 0;
  bottom: 100%;
	pointer-events: none;
  /* overflow-y: scroll; */
}

#bio::-webkit-scrollbar {
  width: 12px;
  /* display: none; */
}

#bio p
{
	text-align: justify;
	/* margin: 0.8em 0; */
  cursor: default;
}

#bio p.center
{
	text-align: center;
}

#bio-content {
	position: absolute;
	top: 70%;
	-webkit-animation: scroll 55s linear;
	-moz-animation: scroll 55s linear;
	-ms-animation: scroll 55s linear;
	-o-animation: scroll 55s linear;
	animation: scroll 55s linear infinite;
}

/* animation */
@-webkit-keyframes scroll {
	0% { transform: translateY(20%); opacity: 0; }
  20% { opacity: 1; }
  70% { opacity: 1; }
  100% { transform: translateY(-120%); opacity: 0; }
}

@-moz-keyframes scroll {
	0% { transform: translateY(20%); opacity: 0; }
  20% { opacity: 1; }
  100% { transform: translateY(-120%); opacity: 0; }
}

@-ms-keyframes scroll {
	0% { transform: translateY(20%); opacity: 0; }
  20% { opacity: 1; }
  100% { transform: translateY(-120%); opacity: 0; }
}

@-o-keyframes scroll {
	0% { transform: translateY(20%); opacity: 0; }
  20% { opacity: 1; }
  100% { transform: translateY(-120%); opacity: 0; }
}

@keyframes scroll {
	0% { transform: translateY(20%); opacity: 0; }
  20% { opacity: 1; }
  100% { transform: translateY(-120%); opacity: 0; }
}

@keyframes scroll {
  0% { transform: translateY(20%); opacity: 0; }
  20% { opacity: 1; }
  40% { opacity: 1; }
  100% { transform: translateY(-120%); opacity: 0; }
}



/* MEDIA */
/* ---------------------------------------------------------------------- */
@media screen and (max-width: 800px) {
  .about-title {
    font-size: 100px;
    line-height: 60%;
    margin: 0 5px;
    /* text-align: start; */
    /* color: #C6FF00; */
    /* z-index: 1; */
  }

  .about-svg-container {
    position: fixed;
    width: 100%;
    left: 0%;
    top: -900px;
    /* opacity: 0.8; */
    z-index: -1;
  }

  .about-svg-container svg {
    width: 500px;
  }

  #bio {
    /* position: absolute; */
    width: 12em;
    height: 75em;
    bottom: 30px;
    right: -5%;
    font-family: 'Ostrich-Sans';
    font-size: 40px;
    /* text-align: justify; */
    overflow: scroll;
    -webkit-transform-origin: 75% 100%;
    -moz-transform-origin: 75% 100%;
    -ms-transform-origin: 75% 100%;
    -o-transform-origin: 75% 100%;
    transform-origin: 75% 100%;
    -webkit-transform: perspective(50vh) rotateX(17deg) scale(0.85);
    -moz-transform: perspective(50vh) rotateX(17deg) scale(0.85);
    -ms-transform: perspective(50vh) rotateX(17deg) scale(0.85);
    -o-transform: perspective(50vh) rotateX(17deg) scale(0.85);
    transform: perspective(50vh) rotateX(17deg) scale(0.85);
    /* z-index: 10; */
    color: #ABABAB;
    text-shadow: 2px 2px 0 black;
    letter-spacing: 3px;
  }

  #bio::-webkit-scrollbar {
    width: 12px;
    display: none;
  }

  #bio-content {
    position: absolute;
    top: 80%;
    -webkit-animation: scroll 60s linear infinite;
    -moz-animation: scroll 60s linear infinite;
    -ms-animation: scroll 60s linear infinite;
    -o-animation: scroll 60s linear infinite;
    animation: scroll 60s linear infinite;
  }

  /* @keyframes scroll {
    0% { transform: translateY(25%) }
    100% { transform: translateY(-120%); }
  } */

  @keyframes scroll {
    0% { transform: translateY(15%); opacity: 0; }
    10% { opacity: 1; }
    70% { opacity: 1;}
    100% { transform: translateY(-115%); opacity: 0;}
  }
}


/* FHD */
@media screen and (min-width: 800px) and ( min-height: 900px) {
  #bio {
    transform: perspective(60vh) rotateX(17deg);
  }

  @keyframes scroll {
    0% { transform: translateY(29%); opacity: 0; }
    20% { opacity: 1; }
    50% { opacity: 1;}
    100% { transform: translateY(-140%); opacity: 0;}
  }
}


/* QHD */
@media screen and (min-width: 2000px) and ( min-height: 1200px) {
  .about-title {
    font-size: 380px;
    margin: 0 20px;
  }
  #bio {
    transform: perspective(60vh) rotateX(17deg);
    font-size: 100px;
  }
  #bio-content {
    position: absolute;
    top: 40%;
    -webkit-animation: scroll 45s linear;
    -moz-animation: scroll 45s linear;
    -ms-animation: scroll 45s linear;
    -o-animation: scroll 45s linear;
    animation: scroll 45s linear infinite;
  }
  .about-svg-container {
    top: -750px;
  }

  .about-svg-container svg {
    width: 1000px;
  }

  @keyframes scroll {
    0% { transform: translateY(32%); opacity: 0; }
    25% { opacity: 1; }
    40% { opacity: 1; }
    100% { transform: translateY(-80%); opacity: 0; }
  }
}
