
.footer {
  width: 100vw;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  font-family: 'Neue';
  font-weight: 300;
  font-size: 12px;
  position: fixed;
  height: 30px;
  bottom: 0;
  background-color: #333333;
  color: #C6FF00;
  margin: 0;
  padding: 0;
  padding-left: 20px;
}
