
.footer {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-transform: uppercase;
  font-family: 'Neue';
  font-size: 14px;
  position: fixed;
  height: 30px;
  bottom: 0;
  background-image: linear-gradient(-45deg, #161616 0%, #2e2e2e 47%, #2e2e2e 53%, #161616 100%);
  color: #ABABAB;
}

.footer-logo {
  width: 18px;
  margin-right: 5px;
}

.footer-slide {
  display: flex;
  align-items: center;
  padding: 0 15px;
}

.footer-slide a {
  display: flex;
  align-items: end;
  text-transform: lowercase;
  font-size: 14px;
  color: #ABABAB;
  text-decoration: none;
}

.footer-slide a svg {
  margin-right: 5px;
}

.footer-slide a:hover {
  color: #FFFFFF;
  text-shadow: 0 0 2px #C6FF00,
               0 0 4px #FFFFFF,
               0 0 20px #C6FF00;
  animation: flicker 1s infinite alternate;
}
