
body {
  width: 100vw;
  height: 100dvh;
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: center;
  background-size: 400% 400%;
  background-image: linear-gradient(-45deg, #111111 0%, #3f3f3f 47%, #3f3f3f 53%, #111111 100%);
  margin: 0;
  -webkit-overflow-y: hidden;
  -moz-overflow-y: hidden;
  -o-overflow-y: hidden;
  overflow-y: hidden;
  -webkit-animation: AnimateBG 32s ease-in-out infinite;
  -moz-animation: AnimateBG 32s ease-in-out infinite;
  -o-animation: AnimateBG 32s ease-in-out infinite;
  animation: AnimateBG 32s ease-in-out infinite;
}

.main-container {
  display: grid;
  place-items: center;
  grid-template-rows: 60px 1fr 30px;
  position: relative;
  overflow-x: hidden;
  height: 100%;
  padding: 0;
}

.main-container::after {
  content: '';
  position: absolute;
  top: 0;
  background-size: cover;
  background-position: center;
  width: 100vw;
  opacity: 0.09;
  height: 100%;
  transform: scale(.8);
  background: url('https://images.unsplash.com/photo-1476445704028-a36e0c798192?q=80&w=2970&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
  z-index: -1;
}


/* h1 {
  color: #CCCCCC;
  font-size: 1.75rem;
  font-family: 'Ostrich-Sans';
  font-style: normal;
  font-weight: 800;
  font-size: 80px;
}

h2 {
  font-family: 'Ostrich-Sans';
  color: #CCCCCC;
  font-size: 80px;
  font-weight: 300;
  font-style: normal;
}

.p-caps {
  color: #CCCCCC;
  font-size: 84px;
  font-family: 'Neue';
  text-transform: uppercase;
}

.p-lower {
  color: #ABABAB;
  font-size: 14px;
  letter-spacing: 1.5px;
  font-family: 'Neue';
}

.p-test {
  font-size: 18px;
  color: #ABABAB;
  font-family: 'Ostrich-Sans';
  letter-spacing: 2px;
} */

/*
button {
  background-color: #79C7E3;
  background-color: #8FE1A3;
  color: #60FFCA;

  Azul Turquesa: #00BCD4
  Rosa Choque: #FF4081
  Verde Limão: #CDDC39
  Laranja Vibrante: #FF9800
  Amarelo Vibrante: #FFEB3B
  Verde Limão: #C6FF00
  Laranja Intenso: #FFA500
  Azul Elétrico: #2196F3

  color: #333;
  background-color: #8FE1A3;
  border: none;
  padding: 15px 25px;
  border-radius: 5px;
} */

@-webkit-keyframes AnimateBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes AnimateBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
